<div class="declaration">
  <h3>your declaration type</h3>
  <table>
    <tr>
      <th>Option 1</th>
      <th>
        I/We wish to disclose <b>all information</b> requested in this form.
        <br />
        (Applicable only if the client consents to disclose all information.)
      </th>
      <td class="radio-container">
        <label>
        <input type="radio" name="all-info" value="true" <% if (data.discloseAll) { %>
         checked
        <% } %> /> 
      <div class="radio"></div>
      </label>
      </td>
    </tr>
    <tr>
      <th>Option 2</th>
      <th>
        I/We do not wish to disclose <b>all information</b> requested in this
        form.
        <br />
        (Applicable only if the client consents to disclose certain information
        only.)
      </th>
      <td class="radio-container">
        <label>
          <input type="radio" name="all-info" value="true" <% if (!data.discloseAll) { %>
            checked
           <% } %>/>
           <div class="radio"></div>
        </label>

      </td>
    </tr>
  </table>
</div>
<div class="personal-info">
  <h3>personal information</h3>
  <table>
    <thead>
      <th>Category</th>
      <th>Client</th>
      <th>Spouse</th>
    </thead>
    <tr>
      <th>Title</th>
      <td><%= data.clientDetail.title %></td>
      <td><%= data.spouseDetail.title %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= data.clientDetail.fullName %></td>
      <td><%= data.spouseDetail.fullName %></td>
    </tr>
    <tr>
      <th>NRIC / Passport No.</th>
      <td><%= data.clientDetail.IC %></td>
      <td><%= data.spouseDetail.IC %></td>
    </tr>
    <tr>
      <th>D.O.B (DD/MM/YY)</th>
      <td><%= data.clientDetail.DOB %></td>
      <td><%= data.spouseDetail.DOB %></td>
    </tr>
    <tr>
      <th>Age (this year)</th>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <th>Gender</th>
      <td><%= data.clientDetail.gender %></td>
      <td><%= data.spouseDetail.gender %></td>
    </tr>
    <tr>
      <th>Marital Status</th>
      <td><%= data.clientDetail.maritalStatus %></td>
      <td><%= data.spouseDetail.maritalStatus %></td>
    </tr>
    <tr>
      <th>Contact No.</th>
      <td><%= data.clientDetail.contactNo %></td>
      <td><%= data.spouseDetail.contactNo %></td>
    </tr>
    <tr>
      <th>Email</th>
      <td><%= data.clientDetail.email %> </td>
      <td><%= data.spouseDetail.email %></td>
    </tr>
    <tr>
      <th>Nationality</th>
      <td><%= data.clientDetail.nationality %></td>
      <td><%= data.spouseDetail.nationality %></td>
    </tr>
    <tr>
      <th>Race</th>
      <td><%= data.clientDetail.race %> </td>
      <td><%= data.spouseDetail.race %></td>
    </tr>
    <tr>
      <th>Address</th>
      <td><%= data.clientDetail.address %> </td>
      <td><%= data.spouseDetail.address %></td>
    </tr>
    <tr>
      <th>Property Type</th>
      <td><%= data.clientDetail.propertyType %> </td>
      <td><%= data.spouseDetail.propertyType %></td>
    </tr>
    <tr>
      <th>Home Ownership</th>
      <td><%= data.clientDetail.homeOwnership %> </td>
      <td><%= data.spouseDetail.homeOwnership %></td>
    </tr>
    <tr>
      <th>Education Level</th>
      <td><%= data.clientDetail.educationLevel %> </td>
      <td><%= data.spouseDetail.educationLevel %></td>
    </tr>
    <tr>
      <th>Occupation</th>
      <td><%= data.clientDetail.occupation %> </td>
      <td><%= data.spouseDetail.occupation %></td>
  </table>
</div>
