<div class="agent-info">
  <table>
    <tr class="date">
      <th>Date of Fact Find</th>
      <td><%= data.agentInfo.factFindDate %> </td>
    </tr>
    <tr class="agent-name">
      <th>Name of Agent</th>
      <td><%= data.agentInfo.name %> </td>
    </tr>
    <tr class="agent-code">
      <th>Agent Code</th>
      <td><%= data.agentInfo.code %></td>
    </tr>
    <tr class="agent-email">
      <th>Agent Email</th>
      <td><%= data.agentInfo.email %></td>
    </tr>
    <tr class="agent-number">
      <th>Agent Phone No.</th>
      <td><%= data.agentInfo.phone %></td>
    </tr>
  </table>
</div>
