<div class="top cashflow summary">
  <div class="left-col summary-table">
    <h3>cashflow summary</h3>
    <table>
      <thead>
        <th>Category</th>
        <th>Amount</th>
      </thead>
      <tr>
        <th>Liabilities</th>
        <th id="total-liabilities">$200.00</th>
      </tr>
      <tr>
        <th>Expenses / Needs</th>
        <th id="total-expenses">$400.00</th>
      </tr>
      <tr>
        <th>Savings / Wants</th>
        <th id="total-savings">$200.00</th>
      </tr>
      <tr>
        <th>Investments / Protection</th>
        <th id="total-investments">$100.00</th>
      </tr>
      <tfoot>
        <tr>
        <td>Inflow</td>
        <td>$0.00</td>
      </tr>
      <tr>
        <td>Outflow</td>
        <td>$0.00</td>
      </tr>
        <td>Surplus / (Shortfall)</td>
        <td>$0.00</td>
      </tr>
      </tfoot>
    </table>
  </div>
  <div class="right-col summary-chart">
    <canvas id="cashflow-chart"></canvas>
  </div>
</div>
<div class="bottom cashflow breakdown">
  <div class="inner">
    <div class="income">
      <h3>income</h3>
      <table>
        <thead>
          <th>Category</th>
          <th>Amount</th>
        </thead>
        <% data.cashflow.income.forEach(income => { %>
          <tr>
            <th><%= income.category %> </th>
            <td><%= income.amount %></td>
          </tr>
        <% }) %>
        <tr>
          <th></th>
          <td></td>
        </tr>
        <tfoot>
          <th>Total</th>
          <td>$0.00</td>
        </tfoot>
      </table>
    </div>
    <div class="expenses">
      <h3>Personal Expenses</h3>
      <table>
        <thead>
          <th>Category</th>
          <th>Amount</th>
        </thead>
        <% data.cashflow.expenses.forEach(expense => { %>
          <tr>
            <th><%= expense.category %> </th>
            <td><%= expense.amount %></td>
          </tr>
        <% }) %>
        <tr>
          <th></th>
          <td></td>
        </tr>
        <tfoot>
          <th>Total</th>
          <td>$0.00</td>
        </tfoot>
      </table>
    </div>
    <div class="savings">
      <h3>Fixed Savings</h3>
      <table>
        <thead>
          <th>Category</th>
          <th>Amount</th>
        </thead>
        <% data.cashflow.savings.forEach(saving => { %>
          <tr>
            <th><%= saving.category %> </th>
            <td><%= saving.amount %></td>
          </tr>
        <% }) %>
          <th></th>
          <td></td>
        </tr>
        <tfoot>
          <th>Total</th>
          <td>$0.00</td>
        </tfoot>
      </table>
    </div>
    <div class="investment">
      <h3>Investments / Protection</h3>
      <table>
        <thead>
          <th>Category</th>
          <th>Amount</th>
        </thead>
        <% data.cashflow.investments.forEach(investment => { %>
          <tr>
            <th><%= investment.category %> </th>
            <td><%= investment.amount %></td>
          </tr>
        <% }) %>
          <th></th>
          <td></td>
        </tr>
        <tfoot>
          <th>Total</th>
          <td>$0.00</td>
        </tfoot>
      </table>
    </div>
    <div class="liabilities">
      <h3>Liabilities</h3>
      <table>
        <thead>
          <th>Category</th>
          <th>Amount</th>
        </thead>
        <% data.cashflow.liabilities.forEach(liability => { %>
          <tr>
            <th><%= liability.category %> </th>
            <td><%= liability.amount %></td>
          </tr>
        <% }) %>
          <th></th>
          <td></td>
        </tr>
        <tfoot>
          <th>Total</th>
          <td>$0.00</td>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<script src="./js/cashflow-chart.js"></script>