<div class="top networth summary">
  <div class="left-col summary-table">
    <h3>networth summary</h3>
    <table>
      <thead>
        <th>Category</th>
        <th>Amount</th>
      </thead>
      <tbody>
      <tr>
        <th>Personal Assets</th>
        <th id="total-personal-assets">$20.00</th>
      </tr>
      <tr>
        <th>Invested Assets</th>
        <th id="total-invested-assets">$50.00</th>
      </tr>
      <tr>
        <th>Cash Equivalents</th>
        <th id="total-cash-equivalents">$10.00</th>
      </tr>
      <tfoot>
        <tr>
          <td>Total Assets</td>
          <td>$0.00</td>
        </tr>
        <tr>
          <td>Total Liabilities</td>
          <td>$0.00</td>
        </tr>
        <tr>
          <td>Networth</td>
          <td>$0.00</td>
        </tr>
      </tbody>
      </tfoot>
    </table>
  </div>
  <div class="right-col summary-chart">
      <canvas id="networth-chart"></canvas>
  </div>
</div>
<div class="bottom networth breakdown">
  <div class="inner">
    <div class="personal">
      <h3>personal use assets</h3>
      <table>
        <thead>
          <th>Category</th>
          <th>Amount</th>
        </thead>
<% data.networth.personalAssets.forEach(personal => { %>
  <tr>
    <th><%= personal.category %> </th>
    <td><%= personal.amount %></td>
  </tr>
<% }) %>
        <tr>
          <th></th>
          <td></td>
        </tr>
        <tfoot>
          <th>Total</th>
          <td>$0.00</td>
        </tfoot>
      </table>
    </div>
    <div class="cash">
      <h3>cash equivalents</h3>
      <table>
        <thead>
          <th>Category</th>
          <th>Amount</th>
        </thead>
        <% data.networth.cashEquivalents.forEach(cash => { %>
          <tr>
            <th><%= cash.category %> </th>
            <td><%= cash.amount %></td>
          </tr>
        <% }) %>
        <tr>
          <th></th>
          <td></td>
        </tr>
        <tfoot>
          <th>Total</th>
          <td>$0.00</td>
        </tfoot>
      </table>
    </div>
    <div class="invested">
      <h3>Invested Assets</h3>
      <table>
        <thead>
          <th>Category</th>
          <th>Amount</th>
        </thead>
        <% data.networth.investedAssets.forEach(investment => { %>
          <tr>
            <th><%= investment.category %> </th>
            <td><%= investment.amount %></td>
          </tr>
        <% }) %>
        <tr>
          <th></th>
          <td></td>
        </tr>
        <tfoot>
          <th>Total</th>
          <td>$0.00</td>
        </tfoot>
      </table>
    </div>
    <div class="liabilities">
      <h3>Liabilities</h3>
      <table>
        <thead>
          <th>Category</th>
          <th>Amount</th>
        </thead>
        <% data.networth.liabilities.forEach(liability => { %>
          <tr>
            <th><%= liability.category %> </th>
            <td><%= liability.amount %></td>
          </tr>
        <% }) %>
          <th></th>
          <td></td>
        </tr>
        <tfoot>
          <th>Total</th>
          <td>$0.00</td>
        </tfoot>
      </table>
    </div>
  </div>
</div>
<script src="./js/networth-chart.js"></script>